#testing {
	margin: auto auto 50px;
}

.header {
	margin: 15vh auto 5vh;
	text-align: center;
}

.test {
	padding: 25vh 40vw;
	margin: 1vh 0 0;
	text-align: center;
	border-radius: 15px;
	min-height: 250px;
	background-color: white;
	color: black;
	font-size: 5vw;
	border-width: 5px;
	border-color: white;
	border-style: solid;
}

.seconds {
	margin: 0px;
}

.cps {
	padding: 0px;
	margin: auto;
}

.cps-area {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 1vw;
	justify-content: space-around;
	position: relative;
	align-items: center;
}

.buttons {
	margin: 10px;
	display: flex;
	flex-direction: row;
	gap: 2.5vw;
	justify-content: center;
	position: relative;
	align-items: center;
}

.clear {
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	background-color: white;
}

.reset {
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	background-color: white;
}

.submit {
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	background-color: white;
}

.submit:active {
	border-color: blue;
	background-color: rgb(141, 206, 255);
}

.reset:active {
	border-color: blue;
	background-color: rgb(141, 206, 255);
}

.test:active {
	border-style: solid;
	border-color: blue;
	background-color: rgb(141, 206, 255);
}
